body {
    background-color: black;
   }

#quadradao {
    margin: auto;
    width: 50%;
    background-color: lightskyblue;
    padding: 10px;
}

#quadrado1 {
    margin: 10px;
    margin-bottom: 20px;
    background-color: lightgrey;
    padding: 2%;
}

.conteudo1 {
    display: inline-block;
    margin-right: 2px;
    padding: 30px;
    width: 26%;
}

#quadrado2 {
    margin: 10px;
    background-color: lightgrey;
    padding: 1%;
}

.conteudo21 {
    display: block;
    margin: 5px;
    padding: 30px;
    padding-right: 120px;
}

.conteudo22 {
    display: inline-block;
    margin: 5px;
    padding: 30px;
    padding-right: 120px;
}

#cont1 {
    background-color: red;
}

#cont2 {
    background-color: blue;
}

#cont3 {
    background-color: green;

}

#cont4 {
    background-color: yellow;
}

#cont5 {
    background-color: orange;
    padding-right: 51%;
    margin-right: 48px;
}

#cont6 {
    background-color: purple;
}

#cont7 {
    background-color: hotpink;
}