html {
    background-color: black;
}

#d1 {
    background-color: red;
    display: inline;
    font-size: 30px;
}
#d2 {
    background-color: green;
    display: inline;
    font-size: 30px;
}
#d3 {
    background-color: blue;
    display: inline;
    font-size: 30px;
}
img {
    display: block;
    width: 30%;
    margin: auto;
}